index.html
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "laundry-sms",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "value": "={{ $json.body.action }}",
              "operation": "equal",
              "toValue": "load"
            },
            {
              "value": "={{ $json.body.action }}",
              "operation": "equal",
              "toValue": "create",
              "output": 1
            },
            {
              "value": "={{ $json.body.action }}",
              "operation": "equal",
              "toValue": "update",
              "output": 2
            }
          ]
        }
      },
      "id": "switch-node",
      "name": "Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [620, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1EJrW5vrYrTM4P5Ou28cPBpiQ2SXdV3YnqaSx3Ia8Ftk",
          "mode": "list",
          "cachedResultName": "Divine Touch Orders"
        },
        "sheetName": "Orders_Real"
      },
      "id": "gs-get",
      "name": "Get Orders",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [840, 140]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EJrW5vrYrTM4P5Ou28cPBpiQ2SXdV3YnqaSx3Ia8Ftk",
          "mode": "list"
        },
        "sheetName": "Orders_Real",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $now.toFormat('X') }}",
            "name": "={{ $json.body.customerName }}",
            "phone": "={{ $json.body.phone }}",
            "service": "={{ $json.body.service }}",
            "status": "Pending"
          }
        }
      },
      "id": "gs-append",
      "name": "Create Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [840, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EJrW5vrYrTM4P5Ou28cPBpiQ2SXdV3YnqaSx3Ia8Ftk",
          "mode": "list"
        },
        "sheetName": "Orders_Real",
        "filter": {
          "conditions": [
            {
              "columnName": "id",
              "value": "={{ $json.body.orderId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.body.status }}"
          }
        }
      },
      "id": "gs-update",
      "name": "Update Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [840, 460]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "Ready"
            }
          ]
        }
      },
      "id": "if-ready",
      "name": "Is Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1060, 460]
    },
    {
      "parameters": {
        "options": {
          "responseBody": "={\n  \"orders\": {{ $node[\"Get Orders\"].json.all() }}\n}"
        }
      },
      "id": "respond-load",
      "name": "Respond Load",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1060, 140]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "Get Orders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Orders": {
      "main": [
        [
          {
            "node": "Respond Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "if-ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
